<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <location path="." inheritInChildApplications="false"> 
      <system.webServer>
          <rewrite>
              <rules>
                  <rule name="ResolveHummingBirdAPIRequests" stopProcessing="true">
                      <match url="^(offerservice/api/internal)(/.*)*" ignoreCase="true" />
                      <action type="Rewrite" url="../InternalAPI/{R:2}"/>
                  </rule>
                  <rule name="ResolveHummingBirdUIRequests" stopProcessing="true">
                      <match url="^(offerservice)(/.*)*" ignoreCase="true" />
                      <action type="Rewrite" url="../WebAdmin{R:2}"/>
                  </rule>
              </rules>
          </rewrite>
      </system.webServer>
    </location>
</configuration>
