<?xml version="1.0" encoding="utf-8" ?>
<!-- FHA: Had to remove the namespace due to XPath not being able to navigate
		  an XML tree with unregistered namespace.
		  XPath is needed by Parameters.xml file for replacing params -->
<!-- <log4net  xmlns="urn:log4net"> -->
<log4net>

  <appender name="MonitorFileAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="C:\Temp\AppLogs\OfferMonitor.log"/>
    <param name="AppendToFile" value="true"/>
    <param name="RollingStyle" value="Date"/>
    <param name="DatePattern" value="yyyyMMdd-HH"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="Header" value=""/>
      <param name="Footer" value=""/>
      <param name="ConversionPattern" value="%date|%property{log4net:HostName}|%message%newline"/>
    </layout>
  </appender>
  <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="C:\Temp\AppLogs\WebAPI.log"/>
    <appendToFile value="true" />
    <datePattern value="yyyyMMdd-HH" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="9" />
    <maximumFileSize value="3MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="Header" value=""/>
      <param name="Footer" value=""/>
      <param name="ConversionPattern" value="%d [%t] %property{log4net:HostName} %-5p %m%n"/>
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <!-- Change this to DEBUG to capture debug infomation -->
      <levelMin value="DEBUG"/>
      <levelMax value="FATAL"/>
    </filter>
  </appender>

  <appender name="SNMPAppender" type="Monitoring.ApplicationMonitor.SNMPAppender, ApplicationMonitor">
    <!--Agent value="se2mon04" /-->
    <Agent value="devmon01.corp.gmi.lcl" />
    <Community value="pmpinstrumentation" />
    <method>
      <name>GetOffers</name>
      <status>1</status>
      <oid>.0.49.1</oid>
    </method>
    <method>
      <name>GetOffers</name>
      <status>0</status>
      <oid>.0.49.2</oid>
    </method>
    <method>
      <name>GetOffersPID</name>
      <status>1</status>
      <oid>.0.49.3</oid>
    </method>
    <method>
      <name>GetOffersPID</name>
      <status>0</status>
      <oid>.0.49.4</oid>
    </method>
    <method>
      <name>GetAttributeList</name>
      <status>1</status>
      <oid>.0.49.5</oid>
    </method>
    <method>
      <name>GetAttributeList</name>
      <status>0</status>
      <oid>.0.49.6</oid>
    </method>
    <method>
      <name>GetAttributeOptions</name>
      <status>1</status>
      <oid>.0.49.7</oid>
    </method>
    <method>
      <name>GetAttributeOptions</name>
      <status>0</status>
      <oid>.0.49.8</oid>
    </method>
    <method>
      <name>GetOffersAttributes</name>
      <status>1</status>
      <oid>.0.49.9</oid>
    </method>
    <method>
      <name>GetOffersAttributes</name>
      <status>0</status>
      <oid>.0.49.10</oid>
    </method>
    <method>
      <name>GetOfferQuotaCells</name>
      <status>1</status>
      <oid>.0.49.11</oid>
    </method>
    <method>
      <name>GetOfferQuotaCells</name>
      <status>0</status>
      <oid>.0.49.12</oid>
    </method>
    <layout type="log4net.Layout.PatternLayout">
      <param name="Header" value="" />
      <param name="Footer" value="" />
      <param name="ConversionPattern" value="%date|%property{log4net:HostName}|%message%newline" />
    </layout>
  </appender>

  <logger name="MonitorLogger">
    <level value="DEBUG"/>
    <appender-ref ref="MonitorFileAppender"/>
  </logger>
  <logger name="AppLogger">
    <level value="INFO"/>
    <appender-ref ref="LogFileAppender"/>
  </logger>
  <logger name="Monitor">
    <level value="DEBUG" />
    <appender-ref ref="SNMPAppender" />
  </logger>

</log4net>
