
@{
    ViewBag.Title = "Error";
}

<div style="margin:auto;text-align:center;">
    <h3 style="color:red;padding-top:10px;">
        Unauthorized access. <br />
        Please log in using your credentials.
    </h3>
</div>

