
@{
    ViewBag.Title = "Error";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript">
        window.location.assign("/");
    </script>
    
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    
    <div style="margin:auto;text-align:center;">
        <h3 style="color:red;padding-top:10px;">            
            Your Offer Service session has expired.<br />
            Please retry <a href="/app/msos/">Offers Dashboard</a>
        </h3>
    </div>
    
</body>
</html>



