<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <location path="." inheritInChildApplications="false"> 
      <system.webServer>
          <rewrite>
              <rules>
                   <rule name="MakeWebAPIHomePage" stopProcessing="true">
                      <match url="^(https?://[^/]+/)WebAPI" ignoreCase="true" negate="true" />
                      <action type="Rewrite" url="{R:1}WebAPI{PATH_INFO}" />
                  </rule>
              </rules>
          </rewrite>
      </system.webServer>
    </location>
</configuration>
