.body-content a {
    color: #333  !important;
}

.breadcrumb li:last-child a{
    color: #333 !important;
}

#menu-container .navbar {
    border-bottom: 1px solid rgba(249, 241, 126, 1) !important;
}

.navbar-default li.active a,
.navbar-default li.active a:hover,
.navbar-default li.active a:focus{
    background:  rgba(249, 241, 126, 1) !important;
}

/* edited */
#search-form > h4 {
    background: rgba(249, 241, 126, 1) !important;
    color: #333 !important;
}

.table tr th,
.table#grid>thead>tr>th>a {
    background: rgba(249, 241, 126, 1) !important;
    color: #333 !important;
}
