<?xml version="1.0" encoding="utf-8" ?>
<log4net  xmlns="urn:log4net">

  <appender name="ActiveOffersJobLogAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="C:\Temp\AppLogs\ActiveOffersJob.log"/>
    <appendToFile value="true" />
    <datePattern value="yyyyMMdd-HH" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="9" />
    <maximumFileSize value="3MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="Header" value=""/>
      <param name="Footer" value=""/>
      <param name="ConversionPattern" value="%d [%t] %property{log4net:HostName} %-5p %m%n"/>
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <!-- Change this to DEBUG to capture debug infomation -->
      <levelMin value="DEBUG"/>
      <levelMax value="FATAL"/>
    </filter>
  </appender>
  <appender name="PendingOffersJobLogAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="C:\Temp\AppLogs\PendingOffersJob.log"/>
    <appendToFile value="true" />
    <datePattern value="yyyyMMdd-HH" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="9" />
    <maximumFileSize value="3MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="Header" value=""/>
      <param name="Footer" value=""/>
      <param name="ConversionPattern" value="%d [%t] %property{log4net:HostName} %-5p %m%n"/>
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <!-- Change this to DEBUG to capture debug infomation -->
      <levelMin value="DEBUG"/>
      <levelMax value="FATAL"/>
    </filter>
  </appender>
  <appender name="SuspendedOffersJobLogAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="C:\Temp\AppLogs\SuspendedOffersJob.log"/>
    <appendToFile value="true" />
    <datePattern value="yyyyMMdd-HH" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="9" />
    <maximumFileSize value="3MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="Header" value=""/>
      <param name="Footer" value=""/>
      <param name="ConversionPattern" value="%d [%t] %property{log4net:HostName} %-5p %m%n"/>
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <!-- Change this to DEBUG to capture debug infomation -->
      <levelMin value="DEBUG"/>
      <levelMax value="FATAL"/>
    </filter>
  </appender>

  <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="C:\Temp\AppLogs\OfferServiceSvc.log"/>
    <appendToFile value="true" />
    <datePattern value="yyyyMMdd-HH" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="9" />
    <maximumFileSize value="3MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="Header" value=""/>
      <param name="Footer" value=""/>
      <param name="ConversionPattern" value="%d [%t] %property{log4net:HostName} %-5p %m%n"/>
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <!-- Change this to DEBUG to capture debug infomation -->
      <levelMin value="DEBUG"/>
      <levelMax value="FATAL"/>
    </filter>
  </appender>

  <logger name="ActiveOffersJob">
    <level value="INFO"/>
    <appender-ref ref="ActiveOffersJobLogAppender"/>
  </logger>
  <logger name="PendingOffersJob">
    <level value="INFO"/>
    <appender-ref ref="PendingOffersJobLogAppender"/>
  </logger>
  <logger name="SuspendedOffersJob">
    <level value="INFO"/>
    <appender-ref ref="SuspendedOffersJobLogAppender"/>
  </logger>

  <logger name="AppLogger">
    <level value="DEBUG"/>
    <appender-ref ref="LogFileAppender"/>
  </logger>

  <logger name="Quartz">
    <level value="INFO"/>
    <appender-ref ref="LogFileAppender"/>
  </logger>
</log4net>
