@{
    ViewBag.Title = "GET api/public/TestOffers/{OfferId}/QuotaCells";
}

<div id="body">
    <div id="body">
        <section class="content-wrapper main-content clear-fix">

            <h1>GET api/public/TestOffers/{OfferId}/QuotaCells</h1>
            <div>
                <p>Returns a collection of quota expressions for a specified active offer ID.</p>

                <h2>Request Information</h2>
                <div class="url-example">
                    <b>Example URL: </b>http://offerservice.lightspeedgmiservices.com/api/public/TestOffers/34b9f6c6-d530-46b0-b447-233ceab5c62e/QuotaCells
                </div>
                <br>
                <div class="url-example">
                    <p>
                        <h5><b>Header</b></h5>
                        GET /api/public/TestOffers/34b9f6c6-d530-46b0-b447-233ceab5c62e/QuotaCells HTTP/1.1<br>
                        Host: offerservice.lightspeedgmiservices.com<br>
                        @Html.ActionLink("Authorization", "Authorization", "Help"): LSR-DIGEST apiuser=4b3a893ae1c35, sharedSecret=9981be30d5f31169b542881acb709c36<br>
                    </p>
                </div>
                <br>

                <table class="help-page-parameters-table">
                    <thead>
                        <tr><th class="parameter-header"><h5><b>Parameters</b></h5><th></th><th></th><th></th></tr>
                        <tr><th>Name</th><th>Type</th><th>Required</th><th>Description</th></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="parameter-name">OfferId</td>
                            <td class="parameter-type">string</td>
                            <td class="parameter-required">Yes</td>
                            <td class="parameter-documentation">Unique ID of the offer</td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <h2>Response Information</h2>
                <table class="help-page-parameters-table">
                    <thead>
                        <tr><th>Property</th><th>Description</th></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="parameter-name">QuotaExpressions</td>
                            <td class="parameter-documentation">The quota expressions for the requested offer</td>
                        </tr>
                    </tbody>
                </table>
                <h3>Response body formats</h3>
                <div id="container">
                    <input id="tab-1" type="radio" name="tab-group" checked="checked" />
                    <label for="tab-1">JSON</label>
                    <input id="tab-2" type="radio" name="tab-group" />
                    <label for="tab-2">XML</label>

                    <div id="content">
                        <div id="content-1">
                            <span><b>Sample for success:</b></span>
                            <pre class="wrapped">{
    "Status": true,
    "Data": {
        "QuotaCells": {
            "QuotaExpressions": {
                "status": "1",
                "data": {
                    "brand": "GTM",
                    "panelId": "0",
                    "sampleGroupId": "27626",
                    "sampleId": "32646",
                    "quotaId": "189189",
                    "quotaRemaining": "100",
                    "expression": {
                        "operator": "AND",
                        "operands": [
                            {
                                "operator": "CONTAINS",
                                "operands": {
                                    "left": {
                                        "operator": "STRING_ATTRIBUTE",
                                        "operands": "COREgender"
                                    },
                                    "right": {
                                        "operator": "STRING_ARRAY",
                                        "operands": "F"
                                    }
                                }
                            },
                            {
                                "operator": "CONTAINS",
                                "operands": {
                                    "left": {
                                        "operator": "INT_ATTRIBUTE",
                                        "operands": "COREcontact_country"
                                    },
                                    "right": {
                                        "operator": "INT_ARRAY",
                                        "operands": "165"
                                    }
                                }
                            },
                            {
                                "operator": "CONTAINS",
                                "operands": {
                                    "left": {
                                        "operator": "INT_ATTRIBUTE",
                                        "operands": "CORElanguage"
                                    },
                                    "right": {
                                        "operator": "INT_ARRAY",
                                        "operands": "14"
                                    }
                                }
                            }
                        ]
                    }
                },
                "details": "retrieved sample quotas for study/sample 198800/32646"
            }
        },
        "Errors": null
    },
    "Meta": {
        "Id": "88b407a8-5f99-4cdf-baa1-f25952c520c7",
        "Timestamp": "2015-05-28 12:22:03Z",
        "Version": "1.0.0.0"
    }
}
</pre>
                            <span><b>Sample for error:</b></span>
                            <pre class="wrapped">{
  "Status": false,
  "Data": {
    "QuotaCells": null,
    "Errors": [
        {
            "Code": 2009,
            "Message": "Offer Id 9af3d3dd-b94e-4998-ba1e-275384cb54a2 is either not active or invalid."
        }
    ]
  },
  "Meta": {
    "Id": "36ba65f7-aae5-4844-b317-b2179e8f4e19",
    "Timestamp": "2015-05-19 12:47:47Z",
    "Version": "1.0.0.0"
  }
}
</pre>
                        </div>
                        <div id="content-2">
                            <span><b>Sample for success:</b></span>
                            <pre class="wrapped">&lt;OfferQuotaCellsResponse xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
    &lt;Status>true&lt;/Status>
    &lt;Data>
        &lt;QuotaCells>
            &lt;QuotaExpressions>
                &lt;status>1&lt;/status>
                &lt;data>
                    &lt;brand>GTM&lt;/brand>
                    &lt;panelid>0&lt;/panelid>
                    &lt;samplegroupid>27626&lt;/samplegroupid>
                    &lt;sampleid>32646&lt;/sampleid>
                    &lt;quotaid>189189&lt;/quotaid>
                    &lt;quotaremaining>100&lt;/quotaremaining>
                    &lt;expression>
                        &lt;operator>AND&lt;/operator>
                        &lt;operands>
                            &lt;operator>CONTAINS&lt;/operator>
                            &lt;operands>
                                &lt;left>
                                    &lt;operator>STRING_ATTRIBUTE&lt;/operator>
                                    &lt;operands>COREgender&lt;/operands>
                                &lt;/left>
                                &lt;right>
                                    &lt;operator>STRING_ARRAY&lt;/operator>
                                    &lt;operands>F&lt;/operands>
                                &lt;/right>
                            &lt;/operands>
                        &lt;/operands>
                        &lt;operands>
                        &lt;operator>CONTAINS&lt;/operator>
                            &lt;operands>
                                &lt;left>
                                    &lt;operator>INT_ATTRIBUTE&lt;/operator>
                                    &lt;operands>COREcontact_country&lt;/operands>
                                &lt;/left>
                                &lt;right>
                                    &lt;operator>INT_ARRAY&lt;/operator>
                                    &lt;operands>165&lt;/operands>
                                &lt;/right>
                            &lt;/operands>
                        &lt;/operands>
                        &lt;operands>
                            &lt;operator>CONTAINS&lt;/operator>
                            &lt;operands>
                                &lt;left>
                                    &lt;operator>INT_ATTRIBUTE&lt;/operator>
                                    &lt;operands>CORElanguage&lt;/operands>
                                &lt;/left>
                                &lt;right>
                                    &lt;operator>INT_ARRAY&lt;/operator>
                                    &lt;operands>14&lt;/operands>
                                &lt;/right>
                            &lt;/operands>
                        &lt;/operands>
                    &lt;/expression>
                &lt;/data>
                &lt;details>retrieved sample quotas for study/sample 198800/32646&lt;/details>
            &lt;/QuotaExpressions>
        &lt;/QuotaCells>
        &lt;Errors i:nil="true" />
    &lt;/Data>
    &lt;Meta>
        &lt;Id>e01b7f8c-10dc-47c4-850f-0fb8afb263b9&lt;/Id>
        &lt;Timestamp>2015-05-28 12:22:20Z&lt;/Timestamp>
        &lt;Version>1.0.0.0&lt;/Version>
    &lt;/Meta>
&lt;/OfferQuotaCellsResponse>
</pre>
                            <span><b>Sample for error:</b></span>
                            <pre class="wrapped">&lt;OfferQuotaCellsResponse xmlns:i="http://www.w3.org/2001/XMLSchema-instance"&gt;
  &lt;Status&gt;false&lt;/Status&gt;
  &lt;Data&gt;
    &lt;QuotaCells i:nil="true" /&gt;
    &lt;Errors&gt;
        &lt;Item&gt;
            &lt;Code&gt;2009&lt;/Code&gt;
            &lt;Message&gt;Offer Id 9af3d3dd-b94e-4998-ba1e-275384cb54a2 is either not active or invalid.&lt;/Message&gt;
        &lt;/Item&gt;
    &lt;/Errors&gt;
  &lt;/Data&gt;
  &lt;Meta&gt;
    &lt;Id&gt;36ba65f7-aae5-4844-b317-b2179e8f4e19&lt;/Id&gt;
    &lt;Timestamp&gt;2015-05-19 12:47:47Z&lt;/Timestamp&gt;
    &lt;Version&gt;1.0.0.0&lt;/Version&gt;
  &lt;/Meta&gt;
&lt;/OfferQuotaCellsResponse&gt;
</pre>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
